ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: grey;
}

h1,h2 {
    margin: 20px 0 20px 5px;
}

h2 {
    font-style: italic;
}

.bordered {
    border: 1px solid black;
    margin: 20px 0 20px 5px;
}

.infos {
        padding: 10px 0 10px 0;
}

.infos div{
    margin-left: 10px;
}

.infos .adresse{
    font-weight: bold;
}

table.openings{
    margin: 10px 0 10px 10px;
}

table.openings td {
    padding: 3px 10px 3px 10px;
}

table.openings tr:nth-child(even) {
    background-color: red;
}

table.openings tr:nth-child(odd) {
    background-color: greenyellow;
}

.team ul {
    padding: 0;
}

.team ul li {
    margin: 5px 0 15px 10px;
}

.team .nom {
    font-size: 1.5em;
    font-weight: bold;
}

.team .message {
    font-size: .9em;
    font-style: italic;
}